<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()" slot="end">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentUser">
    <ion-card-content>
      <!-- Mostrar otros datos del usuario aquí -->
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-text>{{ currentUser.userName }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-text>{{ currentUser.password }}</ion-text>
      </ion-item>
      <!-- Agregar más campos según sea necesario -->
    </ion-card-content>
  </ion-card>
</ion-content>
